.pokemon {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 222, 0, 0.6);
  z-index: 9999;
  animation-name: won;
  animation-duration: 1s;
}

.pokemon-won {
  background-color: rgba(255, 222, 0, 0.6);
}

.pokemon-lose {
  background-color: rgba(255, 0, 0, 0.6);
}

.pokemon-title {
  font-size: 1.8rem;
  word-break: break-all;
  margin-bottom: 0;
  padding: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.pokemon-won-title {
  color: var(--secondary-color);
}

.pokemon-lose-title {
  color: var(--yellow-color);
}

.pokemon-lose-icon {
  color: var(--yellow-color);
  font-size: 6rem;
}

@keyframes won {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .pokemon-title {
    font-size: 3.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .pokemon-title {
    font-size: 4rem;
  }
}
