.cat {
    border: 3px solid var(--primary-color);
    margin: 3%;
    text-align: center;
    padding: 0;
    background-color: whitesmoke;
    width: 90%;
}

.textCat {
    font-family: var(--font-body);
    font-size: 1.4rem;
    font-weight: bold;
}

.catName {
    color: var(--secondary-color);
    font-family: var(--font-body);
    font-size: 2rem;
    font-weight: bold;
}

  /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cat {
width: 40%;
    }
}

  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .cat {
width: 20%;
    }
}
