.poke {
  border: 3px solid var(--primary-color);
  margin: 2rem;
  text-align: center;
  padding: 0.8rem;
  width: 90%;
}

.poke-image {
  width: 100%;
  height: 10rem;
}

.poke-text {
  font-family: var(--font-body);
  font-weight: bold;
}

.poke-progress {
  color: var(--secondary-color);
  background-color: var(--yellow-color);
  font-weight: bold;
  height: 2rem;
  text-transform: capitalize;
  font-size: 1rem;
}

.poke-button {
  background-color: var(--secondary-color);
  border: none;
}

.poke-button:hover,
.poke-button:active {
  background-color: var(--yellow-color);
  border: none;
}

.poke-button:focus {
  box-shadow: none !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .poke {
    padding: 1rem;
    width: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .poke {
    padding: 1.2rem;
    width: 40%;
  }
}
