.header {
  background-color: var(--primary-color);
  padding: 1.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header-icon {
  color: var(--yellow-color);
  margin-right: 1rem;
  font-size: 2rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.header-title {
  margin-bottom: 0;
  color: var(--yellow-color);
  font-family: var(--font-header);
  font-size: 2rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .header {
    padding: 2rem 0;
  }

  .header-icon {
    font-size: 3rem;
  }

  .header-title {
    font-size: 3rem;
  }
}