:root {
  --primary-color: #ff0000;
  --secondary-color: #3b4cca;
  --light-color: #f2f2f2;
  --dark-color: #0d0d0d;
  --yellow-color: #ffde00;
  --font-body: 'Roboto', sans-serif;
  --font-header: 'DotGothic16', sans-serif;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}
